
<footer class="footer bg-dark">
  <div class="module-extra-small bg-dark">
    <div class="container">
      <div class="row" style="margin: 20px auto;">
        <div class="col-12 order-2 col-md-6 order-md-1">
          <div class="widget">
            <p class="widget-title">Quick Links</p>
            <ul class="icon-list">
              <li>
                <i class="iconify" data-icon="mdi-text-box-check-outline"></i> <a href="/specification">BrAPI Specification</a>
              </li>
              <li>
                <i class="iconify" data-icon="mdi-hammer-wrench"></i> <a href="/tools">BrAPI Tools</a>
              </li>
              <li>
                <i class="iconify" data-icon="mdi-github"></i> <a href="https://github.com/plantbreeding/API" target="_blank">GitHub</a>
              </li>
              <li>
                <i class="iconify" data-icon="mdi-email"></i> <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-12 order-1 col-md-6 order-md-2">
              <div class="widget">
                <p class="widget-title" style="">
                  <a href="/events" class="brapi-link">Upcoming events</a>
                </p>
                {{>upcomingEvents}}
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="copyright">
      </div>
    </div>
  </div>
</footer>