<section class="home-section home-parallax home-fade home-full-height" id="home">
  <div class="brapi-home">
    <div class="brapi-home-img bg-dark-30 bg-dark" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/header.jpg)">
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-3">BrAPI</div>
          <div class="font-alt mb-40 titan-title-size-4">The Breeding API</div>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <div class="large-text align-center">
                <a class="section-scroll" href="#about">
                  <button class="btn btn-border-w btn-round" type="button">Explore BrAPI</button>&nbsp;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>