<section class="home-section home-parallax home-fade home-full-height" id="to-top">
    <div class="brapi-home">
        <div class="brapi-home-img bg-dark-30 bg-dark"
            style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/header.jpg)">
            <div class="titan-caption">
                <div class="caption-content">
                    <h1>
                        <div class="mb-30 titan-title-size-3">BrAPI</div>
                    </h1>
                    <div class="mb-40 titan-title-size-3">The Breeding API</div>
                </div>
                <div style="margin-top: 50px;" class="row justify-content-center">

                    {{#if footerEvents.event1}}
                    <!-- Left Column -->
                    <div class="col-12 col-md-8 col-lg-6">
                        <div>
                            <a class="section-scroll btn btn-lg brapi-home-button" href="#about">
                                What is BrAPI?
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/specification">
                                Specification
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/sabbaticals">
                                Sabbaticals
                            </a>
                        </div>
                    </div>
                    <!-- Right Column -->
                    <div class="col-8 col-lg-6 brapi-home-events">
                        <div class="widget">
                            <p class="widget-title" style="border-bottom: none; padding: 0; margin: 5px 0">
                                <a href="/events" class="brapi-link">Upcoming events</a>
                            </p>
                            {{>upcomingEvents}}
                        </div>
                    </div>
                    {{else}}

                    <!-- Left Column -->
                    <div class="col-12 col-md-8 col-lg-6">
                        <div>
                            <a class="section-scroll btn btn-lg brapi-home-button" href="#about">
                                What is BrAPI?
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/specification">
                                Specification
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/sabbaticals">
                                Sabbaticals
                            </a>
                        </div>
                    </div>
                    <!-- Right Column -->
                    <div class="col-12 col-md-8 col-lg-6">
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/get-started">
                                Get Started
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/contact">
                                Join the Community
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-lg brapi-home-button" href="/news">
                                Latest News
                            </a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>