<section class="home-section home-parallax home-fade home-full-height" id="to-top">
  <div class="brapi-home">
    <div class="brapi-home-img bg-dark-30 bg-dark"
      style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/images/header.jpg)">
      <div class="titan-caption">
        <div class="caption-content">
          <h1>
            <div class="mb-30 titan-title-size-3">BrAPI</div>
          </h1>
          <div class="mb-40 titan-title-size-3">The Breeding API</div>
          <a class="section-scroll btn btn-lg btn-outline-success" href="#about"
            style="--bs-btn-color: #fff; --bs-btn-border-color: #fff; width: 245px; margin-top: 20px;">
            Explore BrAPI
          </a>
        </div>
      </div>
    </div>
  </div>
</section>