<div class="container">

  <a class="navbar-brand" href="/">
    <img src="/images/brapi-logo.svg" alt="BrAPI Logo - Go to home page">
  </a>

  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#custom-collapse"
    aria-controls="custom-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="custom-collapse">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="menu-list">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get-started">Get Started</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/partners" data-toggle="dropdown">Community</a>
        <ul class="dropdown-menu" id="community-menu">
          <li>
            <a class="dropdown-item" href="/partners">Partners</a>
          </li>
          <li>
            <a class="dropdown-item" href="/news">News</a>
          </li>
          <li>
            <a class="dropdown-item" href="/events">Events</a>
          </li>
          <li>
            <a class="dropdown-item" href="/projectLeadership">Governance</a>
          </li>
          <li>
            <a class="dropdown-item" href="/sabbaticals">Sabbaticals</a>
          </li>
          <li>
            <a class="dropdown-item" href="/contact">Contact</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="/documentation" class="nav-link dropdown-toggle" data-toggle="dropdown">Documentation</a>
        <ul class="dropdown-menu" id="Documentation-menu">
          <li>
            <a class="dropdown-item" href="/specification">BrAPI Specification</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/plantbreeding/API" target="_blank">GitHub</a>
          </li>

          <li>
            <a class="dropdown-item" href="https://plant-breeding-api.readthedocs.io" target="_blank">Read The Docs</a>
          </li>
          <li>
            <a class="dropdown-item"
              href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btz190/5418796"
              target="_blank">Publication</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://plantbreeding.github.io/brapi-ontology/index.html"
              target="_blank">Data Type Browser</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://plantbreeding.github.io/brapi-ontology/glossary.html"
              target="_blank">Glossary</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://plantbreeding.github.io/brapi-ontology/uml.html"
              target="_blank">Entity Relationship Diagram</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="/libraries" class="nav-link dropdown-toggle" data-toggle="dropdown">Libraries</a>
        <ul class="dropdown-menu" id="Libraries-menu">
          <li>
            <a class="dropdown-item" href="https://github.com/mverouden/brapir-v1" target="_blank">BrAPI R</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/c5sire/brapix" target="_blank">BrAPI R - X</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/c5sire/brapiui" target="_blank">BrAPI R - UI</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/solgenomics/BrAPI.js" target="_blank">BrAPI.js</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://www.drupal.org/project/brapi" target="_blank">BrAPI + Drupal</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/imilne/jhi-brapi" target="_blank">Java Client Library
              V1.0</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/PhenoLibs/JavaLibraryBuilder" target="_blank">Java Client
              Library V1.3</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/Breeding-Insight/brapi" target="_blank">Java Client
              Library V2.0</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://github.com/agostof/BrAPI-FastAPI" target="_blank">Python Server
              Stub</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="/tools" class="nav-link dropdown-toggle" data-toggle="dropdown">Tools</a>
        <ul class="dropdown-menu" id="Tools-menu">
          <li>
            <a class="dropdown-item" href="/brapps">BrAPPs</a>
          </li>
          <li>
            <a class="dropdown-item" href="/servers">Servers List</a>
          </li>
          <li>
            <a class="dropdown-item" href="/compatibleSoftware">Compatible Software</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://webapps.ipk-gatersleben.de/brapivalidator" target="_blank">BRAVA</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://test-server.brapi.org/brapi/v1" target="_blank">BrAPI Test Server</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>