version: '3'

services:
  brapi-web:
    image: brapicoordinatorselby/brapi-web
    restart: unless-stopped
    environment:
      - MIALING_LIST_PATH=/usr/src/app/data/mailingListChanges.txt
      - NEW_SERVER_LIST_PATH=/usr/src/app/data/serverListChanges.txt
    volumes:
      - /home/jenkins/brapi.org/data/email-data:/usr/src/app/data/
  brapi-wiki:
    image: mediawiki:1.35.1
    restart: unless-stopped
    depends_on: 
      - brapi-wiki-db
    volumes:
      - /home/jenkins/brapi.org/brapi-website/wiki/LocalSettings.php:/var/www/html/LocalSettings.php
      - /home/jenkins/brapi.org/brapi-website/wiki/images:/var/www/html/images
      - /home/jenkins/brapi.org/brapi-website/wiki/extensions:/var/www/html/extensions
    env_file:
      - /home/jenkins/brapi.org/brapi-website/wiki/wiki_variables.env
  brapi-wiki-db:
    image: mysql:5.7.33
    restart: unless-stopped
    volumes:
      - /home/jenkins/brapi.org/data/wiki:/var/lib/mysql
    env_file:
      - /home/jenkins/brapi.org/brapi-website/wiki/wiki_variables.env
networks:
    default:
        external:
            name: brapi_net
