.brapi-sponsor-tag-img {
    height: 50px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
}

.brapi-btn-width {
    width: 225px;
    margin: 3px 0;
}

.brapi-page-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: #fff;
}

.brapi-home {
    height: 100% !important;
    width: 100%;
    padding: 0;
    margin: 0 !important;
}

.brapi-home-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100%;
    padding: 0;
    margin: 0;
}

.brapi-home-section {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    background-size: cover;
}

.brapi-post:hover {
    padding-top: 20px;
    background-color: #f7f7f7;
    transition: all 0.125s ease-in-out 0s;
}

.brapi-post {
    min-height: 370px;
    padding-top: 20px;
    overflow: auto;
}

.post-columns .brapi-post {
    margin: 0;
}

.brapi-post-thumbnail-img {
    margin-top: -50px;
}

.brapi-post-thumbnail {
    overflow: hidden;
    height: 180px;
}

.post-title {
    color: inherit;
}

.link-btn {
    margin: 5px 0 0 0;
}

.brapi-section-title {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.brapi-section-subtitle {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.current-brapi-section {
    border-radius: 5px;
    background-color: #eaffc9;
    font-weight: bold;
    /* padding: 0 0 10px 0; */
}

.preview-brapi-section {
    border-radius: 5px;
    background-color: #fffbc9;
    /* font-weight: bold; */
    /* padding: 0 0 10px 0; */
}

.brapi-section {
    margin: 0 0 15px 0;
}

.brapi-section-description {
    margin: 5px 0 0 5px;
}


/* brapps */

.brapp {
    padding-top: 20px;
    overflow: auto;
}

.brapp-box {
    border: lightgray solid 1px;
    overflow: auto;
}

.brapp-thumbnail {
    overflow: hidden;
    margin: 5px 0;
}

.provider-thumbnail {
    margin: 5px 0;
    width: 100px;
    height: 100px;
    white-space: nowrap;
    text-align: center;
}

.provider-thumbnail span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.provider-thumbnail img {
    vertical-align: middle;
    max-height: 100px;
    max-width: 100px;
}

.brapp-header {
    margin: 15px 0 10px 0;
}

.brapp-header p,
h2 {
    margin: 0;
}

.brapp-links {
    margin: 20px 0 0 0;
}

.brapp-links button {
    padding: 6px 12px;
}

.brapp-details {
    border-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
}

.brapp-details p {
    margin: 0;
}

.brapp-details-btn button {
    padding: 0px 0px;
    width: 100%;
    height: 20px;
}

.cookie-btn {
    position: fixed;
    display: block;
    bottom: 7px;
    right: 7px;
    z-index: 999;
    cursor: pointer;
}

.cookie-btn div {
    background: #fff;
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 23px;
    color: #000;
    opacity: 0.6;
    border-radius: 2px;
}

.cookie-btn div:hover,
.cookie-btn div:active {
    opacity: 1;
    color: #000;
}

.badge-holder {
    margin: 2px auto auto 30px;
}

.badge {
    border-radius: .5rem;
    background-color: #00748C;
}

.badge-icon {
    font-size: 170%;
    float: left;
}

.badge-text {
    margin: 4px 3px 0px 3px;
    display: inline-block;
}

.server-url {
    display: inline-block;
    margin: 8px 0 8px 15px;
}

.server-desc {
    margin: 8px 0 0 30px;
}

pre.token {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #6cce10;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

tr th,
tr td {
    padding: 0 10px 0 10px;
}

table a {
    text-decoration: underline;
}

tr th.agenda {
    padding: 20px 0 0 0;
}

tr td.agenda {
    padding: 0 10px 0 10px;
}

p.agenda-row {
    border-top: #b0b0b0 solid 1px;
    margin: 0;
}

.agenda-row {
    border-bottom: #b0b0b0 solid 1px;
    display: flex;
    padding: 0 0 0 10px;
}

.agenda-date {
    margin: 10px 0 0 0;
    font-weight: bold;
}

.agenda-bg-green {
    background-color: #deffd6;
    padding: 0;
}

.agenda-bg-blue {
    background-color: #d6e6ff;
    padding: 0
}

.agenda-bg-pink {
    background-color: #f3d6ff;
    padding: 0
}

.no-pad {
    padding: 0;
}

.news-post-header {
    margin: 15px 0 0 0;
}

.news-post-paragraph {
    margin: 5px 0 0 30px;
    text-indent: -15px;
}

.news-post-links {
    margin: 10px 0 20px 15px;
}