.brapi-sponsor-tag-img {
    height: 50px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
}

.brapi-btn-width {
    width: 225px;
    margin: 3px 0;
}

.brapi-page-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: #fff;
}

.brapi-home-section {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    background-size: cover;
}

.brapi-post:hover {
    padding-top: 20px;
    background-color: #f7f7f7;
    transition: all 0.125s ease-in-out 0s;
}

.brapi-post {
    min-height: 370px;
    padding-top: 20px;
    overflow: auto;
}

.post-columns .brapi-post {
    margin: 0;
}

.brapi-post-thumbnail-img {
    margin-top: -50px;
}

.brapi-post-thumbnail {
    overflow: hidden;
    height: 180px;
}

.post-title {
    color: inherit;
}

.link-btn {
    margin: 5px 0 0 0;
}

.brapi-section-title {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.current-brapi-section {
    border-radius: 5px;
    background-color: #eaffc9;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.brapi-section {
    margin: 0 0 15px 0;
}

.brapi-section-description {
    margin: 5px 0 0 5px;
}