
export KEYCLOAK_USER=admin
export KEYCLOAK_PASSWORD=change_me
export KC_DB=postgres
export KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
export KC_DB_USERNAME=postgres
export KC_DB_PASSWORD=change_me