version: '3'

services:
  brapi-nginx:
    image: nginx:stable
    restart: unless-stopped
    depends_on: 
      - certbot
    volumes:
      - /home/jenkins/brapi.org/data/server-conf/certbot/conf:/etc/letsencrypt
      - /home/jenkins/brapi.org/data/server-conf/certbot/www:/var/www/certbot
      - /home/jenkins/brapi.org/brapi-website/server/nginx.conf:/etc/nginx/nginx.conf
      - /home/jenkins/brapi.org/brapi-website/server/brapi-ssl.conf:/etc/nginx/sites-available/brapi-ssl.conf
    ports:
      - "80:80"
      - "443:443"
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - /home/jenkins/brapi.org/data/server-conf/certbot/conf:/etc/letsencrypt
      - /home/jenkins/brapi.org/data/server-conf/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
networks:
    default:
        external:
            name: brapi_net
