<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">

        {{#if authorized}}
        <div id="submitAnnouncementContainer" class="row justify-content-center">
            <form id="submitAnnouncementForm" class="row justify-content-center col-7">

                <label class="col-12 form-label" for="mailingListInput" style=""> Mailing List </label>
                <select class="col-11 input" id="mailingListInput" name="mailingList">
                    <option value="announcement.test@mail.brapi.org" selected>announcement.test@mail.brapi.org</option>
                    <option value="announcements@mail.brapi.org">announcements@mail.brapi.org</option>
                    <option value="hackathon.attendees@mail.brapi.org">hackathon.attendees@mail.brapi.org</option>
                </select>

                <label class="col-12 form-label" for="titleInput" style=""> Title </label>
                <input class="col-11 input" id="titleInput" type="text" name="title" placeholder="Title" />

                <label class="col-12 form-label" for="subjectInput">Subject</label>
                <input class="col-11 input" id="subjectInput" type="text" name="subject" placeholder="Subject" />

                <label class="col-12 form-label" for="authorInput"> Author</label>
                <input class="col-11 input" id="authorInput" type="text" name="author" placeholder="Peter Selby" />

                <label class="col-12 form-label" for="dateInput"> Date </label>
                <input class="col-11 input" id="dateInput" name="date" placeholder="January 1, 2023"></input>

                <label class="col-12 form-label" for="articleInput"> Article </label>
                <textarea class="col-11 input" id="articleInput" name="article"
                    placeholder="This is an article about ..."></textarea>


                <div class="form-check col-11" style="margin-top: 10px;">
                    <input class="form-check-input" type="checkbox" id="show-json" checked>
                    <label class="form-check-label" for="show-json">
                        JSON
                    </label>
                </div>
                <div class="form-check col-11" style="margin-top: 0px;">
                    <input class="form-check-input" type="checkbox" id="show-html" checked>
                    <label class="form-check-label" for="show-html">
                        HTML
                    </label>
                </div>
                <div class="form-check col-11" style="margin-top: 0px;">
                    <input class="form-check-input" type="checkbox" id="show-email" checked>
                    <label class="form-check-label" for="show-email">
                        EMAIL
                    </label>
                </div>

                <div class="form-check col-11" style="margin-top: 25px;">
                    <input class="form-check-input" type="checkbox" id="show-email" required>
                    <label class="form-check-label" for="show-email">
                        Ready to send
                    </label>
                </div>

                <input type="submit" value="POST" class="btn btn-sm btn-outline-success col-4"
                    style="margin: 20px auto;">
            </form>

            <div id="news-json-preview">
                <p>News JSON</p>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-9" id="json-display"></div>
                    </div>
                </div>
            </div>

            <div id="news-post-preview">
                <p>News Post Preview</p>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-9" id="brapi-posts">
                            <div class="post" style="min-height: 55px; margin-bottom: 25px;">
                                <div class="post-header">
                                    <h2 class="post-title html-title">Title Title Title Title</h2>
                                    <div class="post-meta">By <span class="html-author">Peter Selby</span> | <span
                                            class="html-date">Todays Date</span>
                                    </div>
                                </div>
                                <div class="post-entry html-article">Example Text
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="email-preview">
                <p>Email Preview</p>
                <p>
                    TO: <span class="mailingListTO" style="font-weight: bold;">{{emailTO}} </span> <br>
                    FROM: <span style="font-weight: bold;">{{emailFROM}} </span> <br>
                    SUBJECT: <span class="email-subject" style="font-weight: bold;"></span>
                </p>
                <div style="word-spacing:normal; background-color:#F4F4F4;">
                    <div style="background-color:#F4F4F4;">
                        <div style="margin:0px auto; max-width:600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="direction:ltr; font-size:0px; padding:20px 0; padding-bottom:0px; padding-top:0px; text-align:center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align:top;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-size:0px; padding:0px 0px 0px 0px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px; word-break:break-word;">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation"
                                                                    style="border-collapse:collapse; border-spacing:0px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width:258px;">
                                                                                <a href="https://brapi.org/"
                                                                                    target="_blank" title="">
                                                                                    <img alt="BrAPI Logo"
                                                                                        src="https://brapi.org/images/brapi-logo-alpha-288x86.png"
                                                                                        title="" width="258"
                                                                                        height="auto"
                                                                                        style="border:none; display:block; outline:none; text-decoration:none; height:auto; width:100%; font-size:13px; margin: 15px auto 25px auto">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="background:#ffffff; background-color:#ffffff; margin:0px auto; max-width:600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background:#ffffff; background-color:#ffffff; width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="direction:ltr; font-size:0px; padding:0; text-align:center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align:top;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-size:0px; padding:0px 25px 0px 25px; padding-top:0px; padding-bottom:0px; word-break:break-word;">
                                                                <div
                                                                    style="font-family:Ubuntu, Helvetica, Arial, sans-serif; font-size:5px; letter-spacing:normal; line-height:22px; text-align:center; color:#55575d; margin: 20px auto 0px auto;">
                                                                    <h1 class="text-build-content">
                                                                        <span class="email-title"
                                                                            style="color:#55575d; font-family:Arial; font-size:20px;">
                                                                            Title Title Title Title
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr id="email-author-row">
                                                            <td align="center"
                                                                style="font-size:0px; padding:0px 25px 0px 25px; padding-top:0px; padding-bottom:0px; word-break:break-word;">
                                                                <div
                                                                    style="font-family:Ubuntu, Helvetica, Arial, sans-serif; font-size:5px; letter-spacing:normal; line-height:22px; text-align:center; color:#55575d;">
                                                                    <p class="text-build-content" style="margin: 0;">
                                                                        <span
                                                                            style="color:#55575d; font-family:Arial;font-size:13px;">
                                                                            by <span class="email-author">Peter
                                                                                Selby</span> | <span
                                                                                class="email-date">Todays Date</span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="background:#ffffff; background-color:#ffffff; margin:0px auto; max-width:600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="background:#ffffff; background-color:#ffffff; width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="direction:ltr; font-size:0px; padding: 0; text-align:center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align:top;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-size:0px; padding:10px 25px; word-break:break-word;">
                                                                <p
                                                                    style="border-top:solid 2px #E6E6E6; font-size:1px; margin:0px auto; width:100%;">
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size:0px; padding:10px 25px; padding-top:0px; padding-bottom:0px; word-break:break-word;">
                                                                <div
                                                                    style="font-family:Ubuntu, Helvetica, Arial, sans-serif; font-size:13px; letter-spacing:normal; line-height:22px; text-align:left; color:#55575d;">
                                                                    <p class="text-build-content">
                                                                        <span class="email-article"
                                                                            style="color:#55575d; font-size:13px;">
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-size:0px padding:10px 25px; word-break:break-word;">
                                                                <p
                                                                    style="border-top:solid 2px #E6E6E6; font-size:1px; margin:0px auto; width:100%;">
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="margin:0px auto; max-width:600px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td
                                            style="direction:ltr; font-size:0px; padding:20px 0; padding-bottom:0px; padding-top:0px; text-align:center;">
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align:top;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-size:0px; padding:10px 25px; padding-top:0px; padding-bottom:0px; word-break:break-word;">
                                                                <div
                                                                    style="font-family:Arial, sans-serif; font-size:13px; letter-spacing:normal; line-height:1; text-align:left; color:#000000;">
                                                                    <p class="text-build-content"
                                                                        style="text-align:center;">
                                                                        <a class="link-build-content"
                                                                            style="color:inherit;" target="_blank"
                                                                            href="https://brapi.org/unsubscribe">
                                                                            <span style="color:inherit;">
                                                                                <u>Unsubscribe</u>
                                                                            </span>
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadingContainer" class="row justify-content-center" style="display: none;">
            <span class="spinner-border text-dark" role="status"></span>
        </div>
        <div id="finishContainer" class="row justify-content-center" style="display: none;">
            <p>Results</p>
            <p id="submissionResults"></p>
            <div class="col-12" id="content">
                <p><a class="btn btn-d btn-round" href="/admin">Back</a></p>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-12" id="content">
                <p><a class="btn btn-d btn-round" href="/admin/login">Login</a></p>
            </div>
        </div>
        {{/if}}
    </div>
</section>

{{#if authorized}}
<script type="text/plain" cookie-consent="strictly-necessary">

$(document).ready(function () {
    
    var regex = /access_token=([^;]*);/g;
    var token = regex.exec(document.cookie)[1];

    $("#submitAnnouncementForm").submit(function (event) {
        $("#submitAnnouncementContainer").hide();
        $("#loadingContainer").show();
        $("#finishContainer").hide();

        var req = $(this).serializeArray();
        $.ajax({
            url: '/api/announcement',
            type: 'post',
            data: req,
            headers: {
                Authorization: 'Bearer ' + token
            },
            dataType: 'json',
            success: function (data, status) {
                $("#submitAnnouncementContainer").hide();
                $("#loadingContainer").hide();
                $("#finishContainer").show();

                $("#submissionResults").html(status + ' ' + JSON.stringify(data));
            }
        });
        event.preventDefault();
    });

    function buildPreview(event) {
        var title = $("#titleInput").val();
        $('.html-title').html(title);
        $('.email-title').html(title);
        window.localStorage.setItem("title", title);

        var mailingList = $("#mailingListInput").val();
        $('.mailingListTO').html(mailingList);

        var subject = $("#subjectInput").val();
        $('.email-subject').html(subject);
        window.localStorage.setItem("subject", subject);

        var author = $("#authorInput").val();
        $('.html-author').html(author);
        $('.email-author').html(author);
        window.localStorage.setItem("author", author);

        if(author){
            $('#email-author-row').show()
        }else{
            $('#email-author-row').hide()
        }

        var date = $("#dateInput").val();
        $('.html-date').html(date);
        $('.email-date').html(date);
        window.localStorage.setItem("date", date);

        var article = $("#articleInput").val();
        var htmlArticle = article
        .replace(/<img/g, '<img class="news-post-img" ')
        .replace(/><\/img>/g, '/>')
        .replace(/<h4>/g, '<h4 class="news-post-header">')
        .replace(/<p>/g, '<p class="news-post-paragraph">');
        
        var emailArticle = article
        .replace(/<img/g, '<table> <tr> <td valign="top" align="center"> <img width="520" height="130" alt="Alt" border="0" style="display:block; max-width:520px;" ')
        .replace(/><\/img>/g, '/> </td> </tr> </table>');

        $('.html-article').html(htmlArticle);
        $('.email-article').html(emailArticle);
        window.localStorage.setItem("article", article);

        var jsonArticle = htmlArticle
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/\n/g, ' ');

        var jsonPreview = {
            "ISO8601": "2023-01-01",
            "title": title,
            "date": date,
            "author": author,
            "article": jsonArticle 
        }
        
        $('#json-display').html('<pre> "jan-01-2023": ' + JSON.stringify(jsonPreview, null, 8) + '</pre>');
    }

    $(".input").on('input', buildPreview);
    $("#titleInput").val(window.localStorage.getItem("title"));
    $("#subjectInput").val(window.localStorage.getItem("subject"));
    $("#authorInput").val(window.localStorage.getItem("author"));
    $("#dateInput").val(window.localStorage.getItem("date"));
    $("#articleInput").val(window.localStorage.getItem("article"));
    buildPreview();


    $("#show-json").change(function(){
        $("#news-json-preview").toggle($(this).prop('checked'));
    });
    $("#show-email").change(function(){
        $("#email-preview").toggle($(this).prop('checked'));
    });
    $("#show-html").change(function(){
        $("#news-post-preview").toggle($(this).prop('checked'));
    });

});

</script>
{{/if}}