<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row">

            <div class="col-sm-12" style="margin: 10px 0 10px 0;">
                <h2> Roles and Responsibilities </h2>
                <p>The BrAPI Advisory Board is a group of six members nominated from the BrAPI community. This group is
                    responsible for the long-term direction and priorities of the project. While the BrAPI Project
                    Coordinator is handling the day-to-day needs of the project, the Advisory Board meets quarterly to
                    address larger questions and concerns. They represent the diversity of the wider community and they
                    advise the Project Coordinator on the needs of the community. The board was formed to provide a
                    balance to the authority of the Project Coordinator and to give the community a voice in the
                    decision making process. The time commitment for each member of the Advisory Board is low, only
                    about 4-8 hours per year. </p>
                <p>Formal Responsibilities</p>
                <ul>
                    <li>
                        Meet quarterly to discuss the progress and upcoming priorities of the BrAPI Project.
                    </li>
                    <li>
                        Advise the Project Coordinator on the needs of the community.
                    </li>
                    <li>
                        Make expedited recommendations on behalf of the community.
                    </li>
                    <li>
                        Act as community representatives and BrAPI experts, managing concerns and answering questions as
                        needed.
                    </li>
                    <li>
                        Be engaged in the outreach and growth of the project, advertising and promoting BrAPI when
                        possible.
                    </li>
                    <li>
                        Representing the community to provide feedback on project personnel decisions.
                    </li>
                </ul>
            </div>

            <div class="col-sm-12" style="margin: 35px 0 10px 0;">
                <h2> Turnover Process</h2>
                <p>Advisory Board members will serve in 3-year terms. These terms will be staggered so that only two
                    members will be replaced each year. This should provide some stability within the board as a
                    majority of the members would be maintained from year to year. Each year, there will be a general
                    call for nominations from the community to find new members. If there are only two nominees, then
                    they will be accepted immediately. If there are more nominees than positions available, a general
                    community election will be held to choose the best candidates. The existing board members will have
                    the right to veto any nominee selection if there are concerns about a conflict of interest or if the
                    nominee seems unwilling to act in the best interest of the community. </p>
            </div>

            <div class="col-sm-12" style="margin: 35px 0 10px 0;">
                <h2> Nominations </h2>
                <p>Each year, there will be a general call for nominations. Anyone in the BrAPI community may nominate
                    themselves or someone else to become a representative on the Advisory Board. Previous board members
                    may also be nominated, but they cannot serve two consecutive terms. The BrAPI Project Coordinator
                    and any PI's involved with the funding of the project may not be nominated.</p>
                <p>Each nominee will be required to complete a <a href="/docs/BrAPI_Advisory_Board_Candidate_Report_TEMPLATE.docx"> short, guided report</a> to outline the skills and experience
                    they possess that makes them a good candidate. This report will be used to ensure a good mix of the
                    diverse BrAPI community is represented on the board. If a vote becomes necessary, the reports will
                    also be used to convey information about each candidate to the voters. This <a href="/docs/BrAPI_Advisory_Board_Candidate_Report_TEMPLATE.docx">Advisory Board Candidate Report</a> 
                    will ask nominees about their skill level and relevant experience with the following topics:</p>
                <ul>
                    <li>General breeding workflow </li>
                    <li>Phenotyping and phenomics</li>
                    <li>Genotyping and genomics</li>
                    <li>Germplasm and accession management</li>
                    <li>New and emerging breeding technologies</li>
                    <li>Computer programming</li>
                    <li>Data management</li>
                </ul>
                <p>To nominate yourself, please complete a copy of the <a href="/docs/BrAPI_Advisory_Board_Candidate_Report_TEMPLATE.docx">Advisory Board Candidate Report</a>
                   and send it to the <a href="mailto:brapicoordinatorselby@gmail.com">BrAPI Project Coordinator</a>. To nominate someone else, please send their name and contact details to the 
                   <a href="mailto:brapicoordinatorselby@gmail.com">BrAPI Project Coordinator</a>. The Coordinator will reach out to the nominee and collect more information as needed. 
                </p>
            </div>
        </div>
    </div>
</section>