<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row">

            <div class="col-12" style="margin: 10px 0 10px 0;">
                <h2> BrAPI Shirts </h2>
                <p>
                    BrAPI themed T-shirts and sweatshirts are available through our <a href="https://www.bonfire.com/brapi-community-shirts/" target="_blank">Bonfire online store.</a>
                    All profits from the sale of BrAPI merchandise are used to support the BrAPI Project.  
                </p>
                <a href="https://www.bonfire.com/brapi-community-shirts/" target="_blank">
                    <img src="/images/logos/brapi-t-shirt.jpg" alt="BrAPI Shirt" style="width: 25%;">
                </a>
                <a href="https://www.bonfire.com/brapi-community-shirts/" target="_blank">
                    <img src="/images/logos/brapi-hoodie.jpg" alt="BrAPI Shirt" style="width: 25%;">
                </a>

                <p>
                    
                <a href="https://www.bonfire.com/brapi-community-shirts/" target="_blank" class="btn btn-sm btn-outline-success col-3">BrAPI Merch Store</a>
                </p>
            </div>

            <div class="col-12" style="margin: 10px 0 10px 0;">
                <h2> BrAPI Logo </h2>
                <p>The BrAPI Logo is available to be used by anyone under the Creative Commons License. Please use the citation below or link back to this page to attribute credit.</p>
                <p>
                    <a href="https://brapi.org/images/brapi-logo.svg">BrAPI Logo</a> © 2014 by the <a href="https://brapi.org">BrAPI Community</a> 
                    is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
                    <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
                </p>
                <img src="/images/brapi-logo.svg" alt="BrAPI Logo" style="width: 100%;">
            </div>
            
            <div class="col-12" style="margin: 10px 0 10px 0;">
                <a target="_blank" href="/images/brapi-logo.svg" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">SVG (resizable)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-logo-2300x500.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Large PNG (2300x500)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-logo-1150x250.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Med PNG (1150x250)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-logo-575x125.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Small PNG (575x125)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-logo-230x50.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Tiny PNG (230x50)</a>
            </div>

            <div class="col-12" style="margin: 30px 0 10px 0;">
                <h2> BrAPI Clover </h2>
                <img src="/images/logos/brapi-clover.svg" alt="BrAPI Logo" style="width: 25%;">
                <img src="/images/logos/brapi-clover-grayscale.svg" alt="BrAPI Logo" style="width: 25%;">
            </div>
            
            <div class="col-12" style="margin: 10px 0 10px 0;">
                <a target="_blank" href="/images/logos/brapi-clover.svg" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">SVG (resizable)</a>
                <a target="_blank" href="/images/logos/brapi-clover-grayscale.svg" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Grayscale SVG (resizable)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-clover-1400x1400.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Large PNG (1400x1400)</a>
                <a target="_blank" href="/images/logos/brapi-clover-gray-1400x1400.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Large Grayscale PNG (1400x1400)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-clover-700x700.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Med PNG (700x700)</a>
                <a target="_blank" href="/images/logos/brapi-clover-gray-700x700.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Med Grayscale PNG (700x700)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-clover-350x350.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Small PNG (350x350)</a>
                <a target="_blank" href="/images/logos/brapi-clover-gray-350x350.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Small Grayscale PNG (350x350)</a>
                <br>
                <a target="_blank" href="/images/logos/brapi-clover-140x140.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Tiny PNG (140x140)</a>
                <a target="_blank" href="/images/logos/brapi-clover-gray-140x140.png" download class="btn btn-sm btn-outline-success col-3" style="margin-top: 2px;">Tiny Grayscale PNG (140x140)</a>
            </div>

            <div class="col-12" style="margin: 30px 0 10px 0;">
                <h2> BrAPI Colors </h2>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #006000;">#006000
                        </div>    
                        Top Left Leaf            
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #00a040;">#00a040
                        </div>    
                        Top Right Leaf            
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #905c08;">#905c08
                        </div>    
                        Bottom Left Leaf            
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #a0c018;">#a0c018
                        </div>    
                        Bottom Right Leaf            
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #00a040;">#00a040
                        </div>    
                        Logo Text           
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="branding-color-box" style="background-color: #111111;">#111111
                        </div>    
                        Background          
                    </div>
                </div>
                

            </div>


        </div>
    </div>
</section>