<section class="module-small" style="min-height: 470px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="col-xs-3">
                    <div style="text-align: center;">
                        <div class="features-icon">
                            <a href="mailto:brapicoordinatorselby@gmail.com">
                                <span class="mdi mdi-email-send-outline fa-lg"></span>
                                <h2 class="features-title font-alt">Email</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div style="text-align: center;">
                        <div class="features-icon">
                            <a href="https://join.slack.com/t/plantbreedingapi/shared_invite/enQtNjA4NTA3OTI5NjUxLWE5ZmI0NDE0NGM1ODkxMjVmMDU1MGVjY2Q5M2QxNGNkYzMyODhkNDVmZjM0ZGI1YzEwYjEwNmY0MDM1YjllZDU">
                                <span class="mdi mdi-slack fa-lg"></span>
                                <h2 class="features-title font-alt">Slack</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div style="text-align: center;">
                        <div class="features-icon">
                            <a href="https://twitter.com/breedingapi">
                                <span class="mdi mdi-twitter fa-lg"></span>
                                <h2 class="features-title font-alt">Twitter</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div style="text-align: center;">
                        <div class="features-icon">
                            <a href="https://github.com/plantbreeding/BrAPI/issues/new">
                                <span class="mdi mdi-github fa-lg"></span>
                                <h2 class="features-title font-alt">GitHub</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"
                style="margin-top: 10px; margin-bottom: 10px;">
                <hr class="divider-w">
            </div>
            <div id="mailingListSubscribeContainer"
                class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="col-xs-12" style="color: black;">
                    <h2 style="font-size: 16px;"> Join the BrAPI Mailing List </h2>
                </div>
                <div class="col-xs-12">
                    <form id="mailingListSubscribeForm">
                        <div class="col-xs-12"><label for="nameInput" style="font-weight: 600;">Name: </label></div>
                        <div class="col-xs-12"><input id="nameInput" type="text" name="name" style="width:100%" /></div>
                        <div class="col-xs-12"><label for="orgInput" style="font-weight: 600;">Organization/Project: </label></div>
                        <div class="col-xs-12"><input id="orgInput" type="text" name="org" style="width:100%" /></div>
                        <div class="col-xs-12"><label for="emailInput" style="font-weight: 600;">Email Address: </label></div>
                        <div class="col-xs-12"><input id="emailInput" type="text" name="email" style="width:100%" />
                        </div>
                        <div class="col-xs-offset-4 col-xs-4" style="text-align: center;">
                            <input type="submit" value="Submit" class="btn btn-d btn-round" style="margin: 10px auto;">
                            <p style="min-width: 123px; font-size: 8pt;"><a href='/unsubscribe'>Unsubscribe</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/plain"  cookie-consent="strictly-necessary">

    $(document).ready(function () {
        $("#mailingListSubscribeForm").submit(function (event) {
            $("#mailingListSubscribeContainer").html("<div style='margin: 30px 0 0 35px;'><div class='loader loader-dark'></div></div>");

            var req = $(this).serializeArray();
            $.post('/api/mailingListSubscribe', req, function (data, status) {
                console.log(data);
                $("#mailingListSubscribeContainer").html("<p style='color: black;'>Thanks For Subscribing! <br/> "+
                "<a href='/news'>Click here to read past articles.</a><br/>"+
                "<a href='/unsubscribe'>Unsubscribe</a></p>")
            });
            event.preventDefault();
        });
    });

</script>