<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row justify-content-center" style="margin: 30px 0;">
            <div class="col-5 col-sm-2">
                <div style="text-align: center;">
                    <div class="features-icon">
                        <a href="mailto:brapicoordinatorselby@gmail.com">
                            <span class="mdi--email-send-outline fa-lg"></span>
                            <h2 class="features-title">Email</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-5 col-sm-2">
                <div style="text-align: center;">
                    <div class="features-icon">
                        <a
                            href="https://join.slack.com/t/plantbreedingapi/shared_invite/enQtNjA4NTA3OTI5NjUxLWE5ZmI0NDE0NGM1ODkxMjVmMDU1MGVjY2Q5M2QxNGNkYzMyODhkNDVmZjM0ZGI1YzEwYjEwNmY0MDM1YjllZDU">
                            <span class="mdi--slack fa-lg"></span>
                            <h2 class="features-title">Slack</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-5 col-sm-2">
                <div style="text-align: center;">
                    <div class="features-icon">
                        <a href="https://www.linkedin.com/company/the-brapi-project/">
                            <span class="mdi--linkedin fa-lg"></span>
                            <h2 class="features-title">LinkedIn</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-5 col-sm-2">
                <div style="text-align: center;">
                    <div class="features-icon">
                        <a href="https://github.com/plantbreeding/BrAPI/issues/new">
                            <span class="mdi--github fa-lg"></span>
                            <h2 class="features-title">GitHub</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div id="mailingListSubscribeContainer" class="col-11 col-sm-7" style="margin: 30px 0;">
                <div class="row">
                    <div class="col-12" style="color: black; margin-bottom: 10px">
                        <h2 style="font-size: 16px;"> Join the BrAPI Mailing List </h2>
                    </div>
                    <div class="col-12">
                        <form id="mailingListSubscribeForm">
                            <div class="row justify-content-center">
                                <div class="col-12"><label for="nameInput" style="font-weight: 600;">Name: </label>
                                </div>
                                <div class="col-12"><input id="nameInput" type="text" name="name" style="width:100%" />
                                </div>
                                <div class="col-12"><label for="orgInput"
                                        style="font-weight: 600;">Organization/Project:
                                    </label></div>
                                <div class="col-12"><input id="orgInput" type="text" name="org" style="width:100%" />
                                </div>
                                <div class="col-12"><label for="emailInput" style="font-weight: 600;">Email Address:
                                    </label>
                                </div>
                                <div class="col-12"><input id="emailInput" type="text" name="email"
                                        style="width:100%" />
                                </div>
                                <div class="col-12" style="text-align: center; margin: 30px 0;">
                                    <input type="submit" value="Submit"
                                        class="btn btn-sm btn-outline-success col-6 col-sm-4">
                                </div>
                                <div class="col-12" style="text-align: center;">
                                    <p style="font-size: 8pt;"><a href='/unsubscribe'>Unsubscribe</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js?render=6LfyUGApAAAAAMTQ8qMUK6-2Gtp-bcUPg1Bddi6E"></script>
<script type="text/plain" cookie-consent="strictly-necessary">

    function subscriptionMessage(success){
        if(success){
            $("#mailingListSubscribeContainer").html("<p style='color: black;'>Thanks For Subscribing! <br/> "+
            "<a href='/news'>Click here to read past articles.</a><br/>"+
            "<a href='/unsubscribe'>Unsubscribe</a></p>")
        }else{
            $("#mailingListSubscribeContainer").html("<p style='color: black;'>An error occurred while subscribing. Please try again later. <br/> "+
            "<a href='/news'>Click here to read past articles.</a><br/>"+
            "<a href='/unsubscribe'>Unsubscribe</a></p>")
        }
    }

    $(document).ready(function () {
        $("#mailingListSubscribeForm").submit(function (event) {
            $("#mailingListSubscribeContainer").html("<div style='margin: 30px 0 0 35px;'><div class='loader loader-dark'></div></div>");
            var formReq = $(this).serializeArray();

            grecaptcha.ready(function() {
                grecaptcha.execute('6LfyUGApAAAAAMTQ8qMUK6-2Gtp-bcUPg1Bddi6E', {action: 'submit'})
                .then(function(token) {
                    formReq.push({'name': 'captcha_token', 'value': token})
                    $.post('/api/mailingListSubscribe', formReq, 
                    function (data, status) {
                        console.log(data);
                        subscriptionMessage(true)
                    }).fail(function() {
                        subscriptionMessage(false)
                    });
                });
            });

            event.preventDefault();
        });
    });

</script>