<section class="module-extra-small" id="error-buttons">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="module-title font-alt">{{error.status}} - {{message}}</h2>
                <div class="row">
                    <div class="col-12" style="text-align: center; ">
                        <a href="/" class="btn btn-sm btn-success" style="width: 200px; margin: 10px 0">
                            Return Home
                        </a>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <a href="mailto:brapicoordinatorselby@gmail.com" class="btn btn-sm btn-success"
                            style="width: 200px; margin: 10px 0">
                            Contact BrAPI Coordinator
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>