<section class="module-small" id="error-buttons">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="module-title font-alt">{{error.status}} - {{message}}</h2>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <a href="/">
                            <button class="btn-lg btn-primary btn-border-d btn-round brapi-btn-width"
                                type="button">Return Home</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <a href="mailto:brapicoordinatorselby@gmail.com">
                            <button class="btn-xs btn-default btn-border-d btn-round brapi-btn-width"
                                type="button">Contact BrAPI Coordinator</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>