<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-xs-12" id="content">
                    <h3 class="font-alt" id="title"> Register </h3>
                    <div style="margin-left:10px">
                        <p>Join the BrAPI community for two weeks of fun as we hack code together and discuss the future
                            of BrAPI. This virtual event will run from March 8-19, 2021. Everyone in the BrAPI community
                            is
                            welcome! Please register to receive meeting invitations and other important information.
                        </p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://forms.gle/46UkpnS5c9eSYxbDA">Register</a></p>
                    </div>

                    <h3 class="font-alt" id="title"> Agenda </h3>
                    <div style="margin-left:10px">
                        <p>This event will take place across two weeks: March 8 – 19, 2021. There will be two sessions
                            per day to accommodate many different time zones.
                        <ul>
                            <li> Session #1: every day from 08:00 UTC to 11:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=08%3A00+UTC"> (Click for local time) </a> for
                                Europe, Africa, and Asia. </li>
                            <li> Session #2: every day from 16:00 UTC to 19:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=16%3A00+UTC"> (Click for local time) </a> for
                                the Americas, Europe and Africa.</li>
                        </ul>
                        </p>
                        <p>The agenda is subject to change without warning. Please check back regularly.</p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1z9whaJlzTMNuNpq5vVgSxwsmbJfCedPGj3jRfcIX0oE/edit?usp=sharing">Agenda</a>
                        </p>
                    </div>

                    <h3 class="font-alt" id="title"> Project List </h3>
                    <div style="margin-left:10px">
                        <p>This project list has all the different projects being worked on, as well as the groups working on them. Please feel free to 
                            edit the file as needed to update project teams and descriptions.</p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://docs.google.com/document/d/1z4EtlSPTkA8FsopVhHrXSIjTOiEkZDqLW_-RiYFCqVY/edit?usp=sharing">Project List</a>
                        </p>
                    </div>

                    <h3 class="font-alt" id="title"> Meeting Notes and Recordings </h3>
                    <div style="margin-left:10px">
                        <p>
                            <a href="https://www.youtube.com/playlist?list=PLoNsULdB3_UvcMTknR4a5WJ_lMp6xQj3f" target="_blank">All meeting recordings playlist</a><br/> 
                            <a href="https://drive.google.com/drive/folders/1qqsKnC4KHCqtx9B0SBwNl77nvwcImFjT?usp=sharing" target="_blank">All meeting notes</a><br/> 
                        <table>
                            <tr>
                                <td>Welcome to the BrAPI Hackathon</td>
                                <td><a href="https://docs.google.com/document/d/1kmHe701MsncUDWbL3vA6AipVnYnHuDHUQAQ_1-k4Ayc" target="_blank">Meeting Notes</a></td>
                                <td><a href="https://www.youtube.com/watch?v=iOdFFv0fRs8" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/1S_UOPgOzpw" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>BrAPI 101 - Introduction class</td>
                                <td><a href="https://brapi.org/docs/BrAPI_101.pptx" target="_blank">Meeting Notes</a></td>
                                <td><a href="https://www.youtube.com/watch?v=rhDRFDAm-C4" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/Z_RNSdW6se4" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>Community Updates</td>
                                <td></td>
                                <td><a href="https://youtu.be/I9-demtfEuk" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/Td0bzyTyFg8" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>BrAPI Version Management</td>
                                <td><a href="https://docs.google.com/document/d/165Z47FOqS4w4FC1I8qy7_Ujedn7pgNs3QZ8WZd7gNKU" target="_blank">Meeting Notes</a></td>
                                <td><a href="https://youtu.be/KJjOLaNOf_4" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/rT0xkW3Yjzw" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>Advanced Imaging</td>
                                <td><a href="https://docs.google.com/document/d/1OaNWpXsstZPS9SxuQivSmsVXaV3gugDxDApW29mir_w" target="_blank">Meeting Notes</a></td>
                                <td><a href="https://youtu.be/Pd-2RKqg-9Y" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/yj7-mZqrCd0" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>High Dimensionality Phenotypes</td>
                                <td><a href="https://docs.google.com/document/d/1fc-bk_wyFcHvX-qMEYMf_senvwmgoJVnRLxggDUk9RU" target="_blank">Meeting Notes</a></td>
                                <td></td>
                                <td><a href="https://youtu.be/VEHmz14hl9g" target="_blank">Session #2</a></td>
                            </tr>
                            <tr>
                                <td>Genotype Data Model Improvements</td>
                                <td><a href="https://docs.google.com/document/d/1oJX_MiZFthC13wCdDC00HTkwUko-3rRf-hKgAx8Sur8" target="_blank">Meeting Notes</a></td>
                                <td><a href="https://youtu.be/yw-VKyXTofs" target="_blank">Session #1</a></td>
                                <td><a href="https://youtu.be/VGYxYWWjs2o" target="_blank">Session #2</a></td>
                            </tr>
                        </table> 
                        </p>

                    </div>
                </div>
            </div>
        </div>
</section>