<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-xs-12" id="content">
                    <h3 class="font-alt" id="title"> Register </h3>
                    <div style="margin-left:10px">
                        <p>Join the BrAPI community for two weeks of fun as we hack code together and discuss the future
                            of BrAPI. This virtual event will run from March 8-19, 2021. Everyone in the BrAPI community
                            is
                            welcome! Please register to receive meeting invitations and other important information.
                        </p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://forms.gle/46UkpnS5c9eSYxbDA">Register</a></p>
                    </div>

                    <h3 class="font-alt" id="title"> Agenda </h3>
                    <div style="margin-left:10px">
                        <p>This event will take place across two weeks: March 8 – 19, 2021. There will be two sessions
                            per day to accommodate many different time zones.
                        <ul>
                            <li> Session #1: every day from 08:00 UTC to 11:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=08%3A00+UTC"> (Click for local time) </a> for
                                Europe, Africa, and Asia. </li>
                            <li> Session #2: every day from 16:00 UTC to 19:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=16%3A00+UTC"> (Click for local time) </a> for
                                the Americas, Europe and Africa.</li>
                        </ul>
                        </p>
                        <p>The agenda is subject to change without warning. Please check back regularly.</p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1z9whaJlzTMNuNpq5vVgSxwsmbJfCedPGj3jRfcIX0oE/edit?usp=sharing">Agenda</a>
                        </p>
                    </div>

                    <h3 class="font-alt" id="title"> Project List </h3>
                    <div style="margin-left:10px">
                        <p>
                        <ul>
                            <li>Extending the implementation of BrAPI into the GRIN-Global Middle Tier </li>
                            <li>TERRA-REF and Digital Ag IL, working on large data processed in parallel </li>
                            <li>Upgrading the Crop Ontology API to BrAPI v2</li>
                            <li>Implementing BrAPI in ClimMob</li>
                            <li>Migration of Flapjack to BrAPI v2</li>
                            <li>Expand the BrAPI implementation in Germinate</li>
                            <li>BrAPI implementation for JHI data collection apps</li>
                            <li>BrAPP: Distribute germplasm between connected DBs</li>
                            <li>Work on Brapi.js v2 library</li>
                            <li>Defining analysis request and results BrAPI calls</li>
                            <li>Connecting to GOBii through BrAPI</li>
                            <li>Connecting the JHI genotype visualization BrAPP to Breedbase</li>
                            <li>ISMU, BMS Dashboard</li>
                            <li>Drupal/Tripal implementation of BrAPI v2</li>
                            <li>Updating/improving the TERRA-REF BrAPI implementation</li>
                            <li>BrAPI Support for WGS SNP Browser</li>
                            <li>The Agronomy Field Information Management System (AgroFIMS)</li>
                            <li>Gigwa BrAPI v2 endpoints</li>
                            <li>Coordinate/Intercross BrAPI integration</li>
                            <li>Field Book app with BrAPI v2</li>
                            <li>PHG BrAPI Server</li>
                            <li>DeSIRA-ABEE project, interfaced with the BMS and Gigwa</li>
                        </ul>
                        </p>
                    </div>

                    <h3 class="font-alt" id="title"> Meeting Notes and Recordings </h3>
                    <div style="margin-left:10px">
                        <p>Coming soon</p>

                    </div>
                </div>
            </div>
        </div>
</section>