<section class="module-small" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="module-title font-alt">What is BrAPI?</h2>
                <div class="module-subtitle font-serif large-text">
                    The Breeding API (BrAPI) project is an effort to enable interoperability among plant breeding databases. BrAPI is a standardized RESTful web service API specification for communicating plant breeding data. This community driven standard is free to be
                    used by anyone interested in plant breeding data management.
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">


<section class="module-small" id="about2">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="module-title font-alt">What are the advantages of using BrAPI?</h2>
                <div class="module-subtitle">BrAPI specifies a standard interface for plant phenotype/genotype databases to serve their data to crop breeding applications. It is free and open source.</div>
            </div>
        </div>
        <div class="row multi-columns-row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-puzzle fa-lg"></span></div>
                    <h3 class="features-title font-alt">Modular</h3>
                    <p>BrAPI covers a variety of types of plant breeding data like germplasm management, field trials, and genotyping. These can be used independently, or combined for added functionality.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-pipe fa-lg"></span></div>
                    <h3 class="features-title font-alt">Compatible Standards</h3>
                    <p>BrAPI is compatible with several community standards including
                        <a target="_blank" href="http://www.bioversityinternational.org/e-library/publications/detail/faobioversity-multi-crop-passport-descriptors-v21-mcpd-v21/">MCPD</a>,
                        <a target="_blank" href="http://www.miappe.org/">MIAPPE</a>,
                        <a target="_blank" href="https://ga4gh-schemas.readthedocs.io/en/latest/api/variants.html">GA4GH Variants Schema</a>,
                        <a target="_blank" href="https://geojson.org/">GeoJSON</a>, and the
                        <a target="_blank" href="https://www.cropontology.org/">Crop Ontology</a>. BrAPI can be used with all modern programing languages.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-rocket fa-lg"></span></div>
                    <h3 class="features-title font-alt">Optimised for speed</h3>
                    <p>A lot of effort has been invested to make BrAPI an efficiant data model without compromising flexibility. Implementations can be tuned to fit the scale of the database.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-account-group fa-lg"></span></div>
                    <h3 class="features-title font-alt">Community Driven</h3>
                    <p>The development of BrAPI has been driven by a community of researchers and computer scientists from various research institutions. A list of all of the involved partners can be found <a href="/partners">Here</a>.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-layers-search fa-lg"></span></div>
                    <h3 class="features-title font-alt">Flexible Search</h3>
                    <p>A wide variety of search parameters allows users to find exactly the data they are looking for. No more need to download a huge data set and comb through it manually.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="mdi mdi-arrow-collapse-all fa-lg"></span></div>
                    <h3 class="features-title font-alt">Easy Collaboration</h3>
                    <p>Start collaborating with other groups in the BrAPI Community. Share applications and transfer data with ease.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">


<section class="module-small" id="use-cases">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="module-title font-alt">Use cases</h2>
                <div class="module-subtitle">BrAPI is very flexible and can handle a wide variety of use cases. Here are a few highlights from the community.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-cellphone-android fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Field Data Collection</h3>Using mobile devices to collect field trial data and directly import it into the BrAPI data source.
                </div>
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-dna fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Genotype Visualization</h3>Pull genotypic data from any BrAPI data source and visualize it using tools like
                    <a href="https://ics.hutton.ac.uk/flapjack">Flapjack</a>.
                </div>
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-move-resize-variant fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Data Transfer</h3>Move large data sets between BrAPI compliant systems without having to worry about the internal wirings.
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-code-greater-than fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">R module</h3>Load data from any BrAPI data source right into R using the
                    <a href="https://github.com/mverouden/brapir-v1">BrAPI R module</a>.
                </div>
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-map fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Geographic Visualization</h3>Visualize geographic information about germplasm and trials by plotting the data on a map.
                </div>
                <div class="alt-features-item">
                    <div class="alt-features-icon">
                        <span class="mdi mdi-magnify fa-lg"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Search</h3>Search everything! Full-text search, different search parameter combinations - knock yourself out.
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <a href="https://wiki.brapi.org/index.php/Use_Cases" target="_blank">
                    <div class="features-item" style="min-height: 1px; margin: 60px 0 -20px 0;">
                        <div class="features-icon">
                            <span class="mdi mdi-animation fa-lg"></span>
                        </div>
                        <h3 class="features-title font-alt" style="font-size: 20px;">AND MORE</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">


<section class="module-small" id="advertising-buttons">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="module-title font-alt">Join the Community and Explore BrAPI</h2>
                <div class="col-sm-12" style="text-align: center;">
                    <a href="/get-started">
                        <button class="btn-lg btn-success btn-border-d btn-round brapi-btn-width" type="button">GET STARTED</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
