<!DOCTYPE html>
<html lang="en-US" dir="ltr">

{{> header}}

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader" style="font-size: 11px;">Loading...</div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top {{#if isHomePage}} navbar-transparent {{/if}}" role="navigation">
      {{> menu}}
    </nav>
    {{#if isHomePage}}
    {{> homePageTitle}}
    {{else}}
    <section class="module-small bg-dark-60 about-page-header" data-background="/images/header.jpg" id="totop" style="background-color: #000; color: #000;">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="brapi-page-title font-alt">{{title}}</h1>
          </div>
        </div>
      </div>
    </section>
    {{/if}}

    <div class="main">

      {{{body}}}

      {{> footer}}
    </div>
    <div class="scroll-up"><a href="#totop"><span style="display: none; font-size: 11px;">Scroll to the top of the page</span> <i class="mdi mdi-chevron-up"></i></a></div>
    <div class="cookie-btn"><div id="changeCookiePrefs"><i class="mdi mdi-cookie"></i></div></div>
  </main>
</body>

</html>