<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12" id="content">
                    <div>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="/oauth/login">Login</a></p>
                    </div>

                    {{#if token}}
                    <div id="token">
                        <p>
                            Name: {{name}}<br>
                            Email: {{email}}<br>
                            Token: 
                        </p>
                        <pre id="tokenVal" class="token">{{token}}</pre>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
</section>
