<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12" id="content">
                    <div>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="/oauth/login">Login</a></p>
                    </div>
                    <div id="token" style="display: none;">
                        <p>Token: </p>
                        <pre id="tokenVal" class="token"></pre>
                    </div>
                </div>
            </div>
        </div>
</section>
<script type="text/plain" cookie-consent="functionality">

    $(document).ready(function () {
        var loc = String(window.location).split('#')[1]
        const urlParams = new URLSearchParams(loc);
        const access_token = urlParams.get('access_token');
        if(access_token){
            $("#token").show();
            $("#tokenVal").html(access_token );
        }
    });

</script>