<section class="module-small pb-0" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="module-subtitle">We would like to give a big thank you to the entire BrAPI community and all
                    of the involved organizations for their continued support! If you or your organizations would like
                    to join our community, please
                    <a style="text-decoration: underline;" href="mailto:brapicoordinatorselby@gmail.com">reach out</a>
                    to one of our project coordinators. 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin: 20px 0 50px 0">
                <a target="_blank" href="/images/institutions/BrAPI_WorldMap.png">
                    <img src="/images/institutions/BrAPI_WorldMap.png" alt="BrAPI World Map" />
                </a>
            </div>
        </div>

        <div class="row">
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                {{#each partners}}
                <li class="work-item illustration photography">
                    <a target="_blank" href="{{ url }}">
                        <div class="work-image">
                            <img src="/images/institutions/{{ img }}" alt="{{ name }}" />
                        </div>
                        <div class="work-caption font-alt">
                            <h class="work-title">{{ name }}</h2>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>