<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row">

            <div class="col-xs-12" style="margin: 0 0 10px 0;">
                <h2 style="margin: 0 0 20px 0;">General Information</h2>
                <p>The BrAPI Community Sabbaticals Program enables members of the BrAPI community to take some time off
                    from their normal day-to-day work and visit another BrAPI partner institution. However, sabbatical
                    participants will not be idle in their time off. During their time away, they will be working with
                    the host institution on a constructive project that benefits both groups. The intention of this
                    program is to encourage community building and collaborative projects with shared resources. The
                    sabbatical is an opportunity to learn from each other and build connections between groups. The
                    tools, knowledge, and connections produced from each sabbatical will improve the BrAPI project and
                    community.
                </p>
                <p>
                    As part of the most recent BrAPI project grant, there is travel money available to fund community
                    members working on these longer collaborative efforts. The BrAPI project will be able to cover
                    airfare, lodging, and food for a traveler during each sabbatical. The exact details of how funds are
                    managed and distributed for a sabbatical will be determined on a case-by-case basis, depending on
                    how the relevant institutions prefer to handle funding. These travel funds are mostly unrestricted,
                    anyone in the community should be able to travel anywhere in the world. However, some documentation
                    will be required for approval and audit purposes. Participants will need to submit a Project
                    Proposal to be approved, and document a Project Summary at the end to highlight what was
                    accomplished and demonstrate the value of the trip.
                </p>
            </div>

            <div class="col-xs-12" style="margin: 0 0 10px 0;">
                <h2 style="margin: 0 0 20px 0;"> Project Proposals </h2>
                <p>There can only be a limited number of sabbaticals, so each year there will be a call for project
                    proposals. Project proposals should contain the basic information of who is travelling, where they
                    are going, and who are they working with at the host institution. It should also contain a written
                    description of the planned project including a problem statement or use case, a list of prioritized
                    goals to be accomplished, and some discussion on community impact. Diagrams, such as sequence
                    diagrams, data flowcharts, and UI mock-ups, are encouraged but not required. There are no length or
                    formatting requirements for this proposal, the content is more important as long as it clearly
                    describes the project plan for the length of the sabbatical.
                </p>
                <p>
                    "Projects" can include a variety of different things. You might choose to work on a new BrAPP,
                    enhance an existing tool, or automate a connection between tools. Alternatively, you might want to
                    work on some documentation, training material, or library to make the use of BrAPI easier. If the
                    project is related to BrAPI in some way and can be built as a collabrative effort, then it is
                    acceptable as a sabbatical. If you have an idea for a project but don't have a host to travel to, or
                    if you represent an institution who can host people, please contact the BrAPI Coordinator or use the
                    BrAPI Slack channel. This is a great opportunity to build new partnerships accross the community. 
                </p>
                <p>
                    Below is a link to the project proposal template. If you are interested in going on a BrAPI
                    sabbatical, please complete a copy of the template and send it to the BrAPI Project Coordinator.
                    Each project proposal will be scored against the rubric, also linked below. This rubric will be used
                    to judge each proposal based on things like feasibility, usefulness, and community impact. This
                    judgement will be used to decide which sabbaticals will be funded for a given year.

                </p>
                <p style="font-weight: bold;">
                    The next deadline for project proposals is November 18, 2022.
                </p>
                <p>
                    <a href="/docs/BrAPI_Sabbatical_Project_Proposal_TEMPLATE.docx">Project Proposal Template (docx)</a>
                    <br>
                    <a href="/docs/BrAPI_Sabbatical_Project_Proposal_TEMPLATE.pdf">Project Proposal Template (pdf)</a>
                    <br>
                    <a href="/docs/BrAPI_Sabbatical_Project_Proposal_Rubric.docx">Project Proposal Rubric (docx)</a>
                    <br>
                    <a href="/docs/BrAPI_Sabbatical_Project_Proposal_Rubric.pdf">Project Proposal Rubric (pdf)</a>
                </p>
            </div>
        </div>
    </div>
</section>