<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row justify-content-center">
            <div id="mailingListUnsubscribeContainer" class="col-7">
                <div class="col-12" style="color: black; margin-bottom: 10px;">
                    <h2 style="font-size: 16px;"> Unsubscribe from the BrAPI Mailing List </h2>
                </div>
                <div class="col-12">
                    <form id="mailingListUnsubscribeForm">
                        <div class="row justify-content-center">
                            <div class="col-12"><label for="emailInput" style="font-weight: 600;">Email Address:
                                </label></div>
                            <div class="col-12"><input id="emailInput" type="text" name="email" style="width:100%" />
                            </div>
                            <div class="col-4" style="margin: 30px 0;">
                                <input type="submit" value="Submit" class="btn btn-sm btn-outline-success col-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {
        $("#mailingListUnsubscribeForm").submit(function (event) {
            $("#mailingListUnsubscribeContainer").html("<div style='margin: 30px 0 0 35px;'><div class='loader loader-dark'></div></div>");

            var req = $(this).serializeArray();
            $.post('/api/mailingListUnsubscribe', req, function (data, status) {
                console.log(data);
                $("#mailingListUnsubscribeContainer").html("<p style='color: black;'>You have been unsubscribed.</p>")
            });
            event.preventDefault();
        });
    });

</script>