<section class="module-small" style="min-height: 470px;">
    <div class="container">
        <div class="row">
            <div id="mailingListUnsubscribeContainer"
                class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <div class="col-xs-12" style="color: black;">
                    Unsubscribe from the BrAPI Mailing List
                </div>
                <div class="col-xs-12">
                    <form id="mailingListUnsubscribeForm">
                        <div class="col-xs-12">Email Address:</div>
                        <div class="col-xs-12"><input id="emailInput" type="text" name="email" style="width:100%" />
                        </div>
                        <div class="col-sm-offset-4 col-xs-4">
                            <input type="submit" value="Submit" class="btn btn-d btn-round"
                                style="margin-top: 10px; margin-bottom: 10px; width:100%;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {
        $("#mailingListUnsubscribeForm").submit(function (event) {
            $("#mailingListUnsubscribeContainer").html("<div style='margin: 30px 0 0 35px;'><div class='loader loader-dark'></div></div>");

            var req = $(this).serializeArray();
            $.post('/api/mailingListUnsubscribe', req, function (data, status) {
                console.log(data);
                $("#mailingListUnsubscribeContainer").html("<p style='color: black;'>You have been unsubscribed.</p>")
            });
            event.preventDefault();
        });
    });

</script>