<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-xs-12" id="content">
                    <h3 class="font-alt" id="title"> Overview </h3>
                    <div style="margin-left:10px">
                        <p>The BrAPI Community Hackathon is an event focused on bringing together the BrAPI community.
                            This weeklong event will reserve time for the members of the community to discuss the BrAPI
                            specification, collaborate on projects, socialize and learn from each other. The hackathon
                            is largely self-organizing project work time, with a few scheduled public discussion
                            sessions addressing important community topics. The overall goal is to be as productive as
                            possible in a small window of time, to explore ideas and start on collaborative projects
                            that can be more formally developed after the event. </p>
                        <p>Due to the COVID-19 pandemic, it is not possible to bring
                            everyone together in person, so the BrAPI Hackathons have gone virtual. Based on the
                            feedback from the first virtual hackathon in March, the ideal plan would be a mix of virtual
                            and in-person events, when international travel becomes possible again. For now, expect
                            virtual BrAPI hackathons every 6 months to maintain momentum and growth of the community. </p>
                        <p >One major take away from the last virtual hackathon was that
                            attendees were feeling distracted by other work. If you can, try to reserve the whole week
                            in your schedule so normal work does not intrude on the project work time. Of course,
                            deadlines and emergencies happen, and BrAPI will not always be the top priority. This is
                            just a reminder that you will get more out of the virtual hackathon experience if you can
                            dedicate the time to focus on it. </p>
                    </div>

                    <h3 class="font-alt" id="title"> Register </h3>
                    <div style="margin-left:10px">
                        <p>Join the BrAPI community for two weeks of fun as we hack code together and discuss the future
                            of BrAPI. This virtual event will run from Oct 4 – 8, 2021. Everyone in the BrAPI community
                            is welcome! Please register to receive meeting invitations and other important information.
                        </p>
                        <p><a class="btn btn-d btn-round" target="_blank"
                                href="https://docs.google.com/forms/d/e/1FAIpQLScH8L3M_0r7uqi1rvjWe7EJn01VC5DFg6tFv4x33YbZxIvcWw/viewform?usp=sf_link">Register</a>
                        </p>
                    </div>

                    <h3 class="font-alt" id="title"> Agenda </h3>
                    <div style="margin-left:10px">
                        <p>This event will take place from Oct 4 – 8, 2021. There will be two sessions
                            per day to accommodate many different time zones.
                        <ul>
                            <li> Session #1: every day from 08:00 UTC to 11:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=08%3A00+UTC"> (Click for local time) </a> for
                                Europe, Africa, and Asia. </li>
                            <li> Session #2: every day from 16:00 UTC to 19:00 UTC <a target="_blank"
                                    href="https://www.google.com/search?q=16%3A00+UTC"> (Click for local time) </a> for
                                the Americas, Europe and Africa.</li>
                        </ul>
                        </p>
                        <p>Agenda Coming Soon </p>
                    </div>

                    <h3 class="font-alt" id="title"> Project List </h3>
                    <div style="margin-left:10px">
                        <p> Project List Coming Soon </p>
                    </div>

                    <h3 class="font-alt" id="title"> Meeting Notes and Recordings </h3>
                    <div style="margin-left:10px">
                        <p> Meeting Notes and Recordings Coming Soon </p>
                    </div>
                </div>
            </div>
        </div>
</section>